.choose{
	background: url('../img/fire-bg.jpg') no-repeat;
	height: 635px;
	padding: 35px 0 0 0;
	.title{
		color: @coffee_milk;
	}
	&__bar{
		background: url('../img/wood-frame.png') no-repeat;
		width: 1176px;
		height: 425px;
		margin: 0 auto;
		margin-top: 21px;
		.or{
			color: @coffee_milk;
			font-size: 45px;
			padding-top: 230px;
			text-align: center;
		}
	}
	.choose__item{
		background: url('../img/img-table3.png') no-repeat;
		width: 275px;
		height: 370px;
		padding: 145px 10px 10px;
		text-align: center;
		margin-top: 20px;
	}
}
