.footer{
	background: url('../img/header-bg.png') 50% 40% no-repeat;
	min-height: 232px;
	padding-top: 30px;
	.footer__logo{
		float: left;
		margin-right: 15px;
	}
	.head{
		color: @olive;
	}
	.list{
		list-style: none;
		.list__item{

		}
		.list__link{
			color: @red;
		}
		.list__link:hover{
			color: @brown;
		}
	}
	.flex{
		display: flex;
		.flex-left{
			margin-right: 20px;
		}
	}
	.contacts{
		.contacts__item{
			color: @brown;
			padding: 3px 0;
			span{
				color: #5c5c5c;
			}
		}
		.contacts__link{
			color: @red;
		}
	}
	.social{
		.menuStyle;
		.menu__link{
			color: @brown;
			text-decoration: none;
		}
	}
}