.footer{
	background: url('../img/header-bg.png') no-repeat;
	background-size: 110% 120%;
	background-position: center top;
	min-height: 232px;
	padding-top: 25px;
	.footer__logo{
		float: left;
	}
	.list__wrap{
		margin-left: 160px;
	}
	.head{
		color: @olive;
		margin: 10px 0 5px 0;
		/*font-family: 'Open Sans', sans-serif;*/
		font-size: 15px;
	}
	.list{
		list-style: none;
		.list__item{
			padding: 0;
			&.active .list__link{
				text-decoration: none;
				cursor: default;
				color: @brown;
			}
		}
		.list__link{
			/*font-family: 'Open Sans', sans-serif;*/
			padding: 2px 0;
			color: @red;
			display: block;
		}
		.list__link:hover{
			color: @brown;
		}
	}
	.flex{
		.displayflex;
		.flexwrap(nowrap);
		.flex-left{
			margin-right: 38px;
		}
	}
	.contacts{
		.contacts__item{
			color: @brown;
			padding: 0;
			font-weight: 700;
			a{
				color: @brown;
				text-decoration: none;
			}
			span{
				color: #5c5c5c;
			}
		}
		.contacts__link{
			color: @red;
			/*font-family: 'Open Sans', sans-serif;*/
		}
	}
	.flex-left .contacts__link{
		display: inline-block;
		line-height: 13px;
		text-decoration: none;
		border-bottom: 1px dashed @red;
		&:hover{
			border-bottom: none;
		}
	}
	.social{
		padding-top: 33px;
		.menuStyle;
		.menu__item{
			position: relative;
			width: 24px;
			height: 24px;
			line-height: 24px;
			overflow: hidden;
			background: @brown;
			text-align: center;
			.transition(linear 0.2s);
			&:hover{
				background: @red;
				.menu__link{
					top: -50px;
				}
			}
			&+.menu__item{
				margin-left: 8px;
			}
		}
		.menu__link{
			position: relative;
			top: 0;
			text-decoration: none;
			display: block;
			.transition(linear 0.2s);
			height: 75px;
			width: 24px;
			text-align: center;
			&:before{
				color: @pastel;
				margin: 0;
				font-size: 17px;
				line-height: 25px;
			}
			&:after{
				position: absolute;
				bottom: 0;
				left: 4px;
				margin: 0;
				font-size: 17px;
				color: @white;
			}
		}
	}
	.devlink{
		color: @red;
		display: block;
		position: relative;
		margin-top: 10px;
		span{
			position: absolute;
			top: 0;
			right: 0;
			font-size: 8px;
			color: red;
			display: inline-block;
			line-height: 10px;
			text-decoration: underline;
		}
		&:hover{
			span{
				text-decoration: none;
			}
		}
	}
}
.no-flexbox{
	.footer{
		.flex-left, .flex-right{
			display: inline-block;
		}
	}

}