.header-top{
	background: @brown;
	height: 35px;
	.content{
		position: relative;
	}
	.header-menu{
		padding-left: 25px;
		.menuStyle;
		.menu__item.active .menu__link{
			color: @red;
		}
		.menu__link{
			padding: 6px;
			color: @pastel;
			font-size: 13px;
		}
	}
	.logo{
		position: absolute;
		left: 50%;
		margin-left: -127px;
		top: 1px;
		z-index: 100;
	}
	.social p{
		color: @pastel;
		margin: 2px 22px 0 35px;
		float: left;
	}
	.social-menu{
		margin-top: 5px;
		.menuStyle;
		.menu__item{
			position: relative;
			width: 20px;
			height: 20px;
			line-height: 20px;
			margin-right: 25px;
			margin-top: 2px;
			overflow: hidden;
			background: @pastel;
			text-align: center;
			.transition(linear 0.2s);
			&:hover{
				background: @red;
				.menu__link{
					top: -40px;
					&:after{
						color: @white;
					}
				}
			}
		}
		.menu__link{
			position: relative;
			top: 0;
			text-decoration: none;
			display: block;
			.transition(linear 0.2s);
			height: 60px;
			width: 20px;
			text-align: center;
			&:before{
				color: @brown;
				margin: 0;
				font-size: 14px;
				line-height: 20px;
			}
			&:after{
				.transition(linear 0.2s);
				position: absolute;
				bottom: 0;
				left: 2px;
				margin: 0;
				font-size: 14px;
				color: @brown;
			}
		}
	}
}
.header-bottom{
	background: url('../img/header-bg.png') no-repeat;
	background-size: 100% 110%;
	background-position: center bottom;
	min-height: 310px;
	overflow: hidden;
	position: relative;
	border-bottom: 5px solid @dark_brown;
	.heading{
		margin-bottom: 7px;
	}
	.phones-box, .address-box{
		margin-top: 30px;
		padding-left: 145px;
		a{
			display: block;
			color: @red;
			font-size: 16px;
		}
		.phones__link{
			text-decoration: none;
			font-weight: 700;
			color: @brown;
			font-size: 20px;
			padding-bottom: 3px;
			margin-left: -5px;
			span{
				color: @dark_grey;
			}
		}
		.address{
			color: @brown;
			font-weight: 700;
			font-size: 18px;
		}
		.grey{
			color: @dark_grey;
			margin: 2px 0 3px 0;
		}
	}
	.address-box{
		padding-left: 160px;
	}
	.main-bar{
		background: url('../img/beam.png') no-repeat;
		height: 135px;
		position: absolute;
		bottom: -5px;
		width: 970px;
		background-position: center bottom;
	}
	.main-menu{
		margin: 25px 0 0 55px;
		.menuStyle;
		.menu__item{
			width: 207px;
			position: relative;
			&:after{
				.opacity(0);
				content: url('../img/backing.png');
				position: absolute;
				top: 8px;
				left: 2px;
				.transition(opacity 0.5s linear 0.5s);
			}
			&.active .menu__link{
				color: @red;
			}
			&.active:after, &:hover:after{
				.opacity(1);
			}
		}
		.menu__link{
			color: @brown;
			padding: 15px 20px;
			width: 190px;
			position: relative;
			z-index: 1;
			span{
				display: inline-block;
				width: 100px;
				white-space: pre-line;
				text-decoration: none;
				font-size: 18px;
				font-weight: 700;
				.text-shadow-multiple('1px 0 0 rgba(0,0,0,1)', '0 1px 0 rgba(0,0,0,1)');
			}
		}
	}
	.plank{
		position: absolute;
		top: 5px;
		right: 15px;
		.plank-btn{
			background: url('../img/plank.png') no-repeat;
			vertical-align: middle;
			.transform(translateZ(0));
			color: @white;
			width: 250px;
			height: 102px;
			border: 0;
			text-decoration: underline;
			font-size: 26px;
			line-height: 25px;
			padding: 20px 65px 33px;
			.text-shadow(1px 0 0 rgba(0,0,0,1));
			.transform(rotate(-5deg));
			font-weight: 700;
			&:focus, &:active{
				outline: none;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
}