.reasons{
	background: @rose;
	padding: 30px 0 35px;
	.title{
		margin-bottom: 30px;
		h1{
			padding-top: 0;
		}
	}
	&__img{
		background: url('../img/hoop.png') no-repeat;
		background-position: center top;
		padding-top: 13px;
		height: 300px;
		text-align: center;
		position: relative;
		margin-bottom: 75px;
		img{
			border-radius: 50%;
			width: 275px;
		}
	}
	&__plank{
		background: url('../img/wood-plank.png') no-repeat;
		position: absolute;
		top: 195px;
		height: 163px;
		padding: 45px 40px 30px 15px;
		color: @red;
		font-size: 20px;
		line-height: 1.4em;
		text-align: center;
		.displayflex;
		.align-items(center);
		.flexwrap(wrap);
		font-weight: 700;
		width: 100%;
	}
	&__text{
		margin-top: -5px;
		line-height: 1.55em
	}
}