.slider{
	padding: 0 0 37px;
	position: relative;
	.slide__info{
		position: absolute;
		background: url('../img/img-table4.png') no-repeat;
		top: -50px;
		width: 706px;
		height: 300px;
		right: 0;
		margin-right: -353px;
		z-index: 1;
		display: flex;
	}
	.first, .second{
		position: relative;
		flex: 0 0 50%;
		height: 170px;
		.slide__name{
			position: absolute;
			top: 3px;
			width: 300px;
			color: @coffee_brown;
			font-size: 30px;
			padding-left: 25px;
			font-family: 'open_sansregular';
			.text-shadow-multiple('1px 0 0 rgba(0,0,0,1)', '0 1px 0 rgba(0,0,0,1)');
		}
		.slide__text{
			position: absolute;
			top: 13px;
			width: 288px;
			font-family: 'open_sansregular';
			font-size: 14px;
		}
		.slide__conclusion{
			position: absolute;
			top: 120px;
			width: 288px;
			color: @coffee_milk;
			font-family: 'open_sansregular';
			font-size: 13px;
			line-height: 1.3em;
		}
	}
	.first{
		.slide__name{
			right: 100%;
			text-align: right;
		}
		.slide__text{
			left: 50px;
		}
		.slide__conclusion{
			left: 50px;
		}
	}
	.second{
		.slide__name{
			left: 100%;
			text-align: left;
		}
		.slide__text{
			right: 50px;
		}
		.slide__conclusion{
			right: 50px;
		}
	}
	.owl-carousel{
		max-width: 1920px;
		margin: 0 auto;
		.owl-stage-outer{
			padding-top: 65px;
		}
		&:before{
			content: url('../img/slider-frame-top.png');
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -959px;
		}
		&:after{
			content: url('../img/slider-frame-bottom.png');
			position: absolute;
			bottom: -7px;
			left: 50%;
			margin-left: -959px;
			z-index: 10;
		}
	}
	.owl-controls{
		position: absolute;
		width: 126px;
		bottom: 64px;
		left: 50%;
		margin-left: -63px;
		z-index: 100;
		.owl-nav{
			display: none !important;
		}
		.owl-dots{
			text-align: center;
		}
		.owl-dot{
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			.box-shadow(inset 2px 3px 2px #444);
			background: @coffee_milk;
			&.active{
				background: @red;
			}
			&+.owl-dot{
				margin-left: 5px;
			}
		}
	}

}