.truth{
	text-align: center;
	padding: 35px 0 45px;
	background: @white;
	.comment{
		position: relative;
		&:nth-child(odd) .comment__bubble{
			.transform(rotate(2deg));
		}
		&:nth-child(1){
			>*{
				margin-right: 80px;
			}
			.comment__text{
				left: 40px !important;
				margin: 0!important;
			}
		}
		&:nth-child(3){
			>*{
				margin-left: 80px;
			}
			.comment__text{
				left: 120px !important;
				margin: 0!important;
			}
		}
		&:nth-child(even).comment__bubble{
			.transform(rotate(-2deg));
		}
	}
	.comment__bubble{
		background: url('../img/commit.png') no-repeat;
		width: 220px;
		height: 175px;
		margin: 0 auto 8px auto;
	}
	.comment__text{
		position: absolute;
		top: 35px;
		left: 73px;
		width: 166px;
	}

}