.verdict-box{
	.verdict{
		background: @white;
		padding-bottom: 80px;
		text-align: center;
		h1{
			color: @red;
			margin-bottom: 30px;
		}
	}
	.verdict__list{
		list-style: none;
		position: relative;
		padding: 0 60px 0 293px;
		text-align: left;
		&:before{
			content: url('../img/img-sign.png');
			position: absolute;
			left: 45px;
			top: -5px;
		}
		li{
			position: relative;
			padding: 5px 0;
			&:before{
				content: '';
				width: 6px;
				height: 6px;
				background: brown;
				position: absolute;
				vertical-align: middle;
				margin-right: 5px;
				top: 12px;
				left: -17px;
			}
		}
	}
	.callback{
		background: url('../img/forest2.jpg') no-repeat;
		background-size: 100% 120%;
		background-position: center center;
		overflow-y: hidden;
		height: 525px;
		.formStyle;
		.form__wrap{
			background: url('../img/img-table5.png') no-repeat;
			height: 477px;
			padding-top: 150px;
		}
		.form__legend{
			margin-bottom: 35px;
			padding: 0 100px;
			p{
				padding-bottom: 0;
			}
		}
	}
}
