/*.reasons .reasons__plank{
	font-size: 19px;
}
.owl-carousel{
	width: 970px;
	overflow: hidden;
	padding-top: 68px;
	margin: 0 auto;
}
	.owl-carousel:before, .owl-carousel:after{
		content: none;
		display: none;
	}
	.owl-carousel .slide{
		float: left;
		width: 48%;
		position: relative;
		height: 440px;
	}
	.owl-carousel .slide img{
		height: 270px;
		width: 100%;
	}
	.owl-carousel .slide .slide__info{
		background: none;
		top: 290px;
		padding: 20px 0;
		height: 170px;
		width: 970px;
		left: -100%;
		margin: 0;
	}
	.owl-carousel .slide .first, .owl-carousel .slide .second{
		width: 485px;
		left: 0;
		top: 0;
		height: 150px;
		position: absolute;
	}
	.owl-carousel .slide .second{
		left: 50%;
	}
	.owl-carousel .slide .first .slide__name{
		left: 0;
		top: 0;
		text-align: left;
		white-space: nowrap;
		width: auto;
	}
	.owl-carousel .slide .first .slide__text{
		left: 170px;
		top: 0;
	}
	.owl-carousel .slide .first .slide__conclusion{
		color: #db3b2f;
		top: 80px;
		left: 170px;
	}
	.owl-carousel .slide .second .slide__name{
		left: 300px;
		top: 0;
		text-align: right;
		width: auto;
		white-space: nowrap;
	}
	.owl-carousel .slide .second .slide__text{
		right: 170px;
		top: 0;
	}
	.owl-carousel .slide .second .slide__conclusion{
		color: #db3b2f;
		top: 80px;
		right: 170px;
	}*/
/*.owl-carousel .slide .first, .owl-carousel .slide .second{
	display: inline-block;
	width: 48%;
	}*/
